Source: lliurex-analytics-server
Section: net
Priority: extra
Maintainer: M.Angel Juan <m.angel.juan@gmail.com>
Build-Depends: debhelper (>= 5),quilt,dh-systemd

Package: lliurex-analytics-server
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
        debconf (>= 0.5) | debconf-2.0, po-debconf,
        ucf, python3, python3-daemon, apache2, libapache2-mod-php, php-mysql, mysql-server, dialog, perl, python3-mysqldb, python3-psutil
Recommends: 
Suggests: libapache2-mod-evasive
Description: Statistics server for lliurex-analytics agent, this package contains the server part.

